
.cvf-otp-wrapper{
  display:none;
  padding: 4px 6px 0;
  .cvf-otp-input{
    width: 24px;
    height: 24px;
    border: 1px solid #ababab;
    text-align: center;
    font-size: 18px;
    margin: 2px 4px;
  }
}
.cvf-otp-btn{
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  padding: 6px 0;
  cursor: pointer;
}
